.vs/
/.vs/ATRoz/v17/.wsuo
/.vs/ATRoz/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ATRoz/obj/Debug/net8.0/ATRoz.AssemblyInfo.cs
/ATRoz/obj/Debug/net8.0/ATRoz.AssemblyInfoInputs.cache
/ATRoz/obj/Debug/net8.0/ATRoz.sourcelink.json

/.idea/.idea.ATRoz.dir/.idea/encodings.xml
/.gitignore
*.xml
*.gitignore
/ATRoz/bin/Debug/net8.0/ATRoz.pdb
/ATRoz/obj/Debug/net8.0/refint/ATRoz.dll
/ATRoz/obj/Debug/net8.0/ATRoz.dll
/ATRoz/obj/Debug/net8.0/ref/ATRoz.dll
*.user
*.json
/ATRoz/obj/Debug/net8.0/ATRoz.pdb
*.info
/ATRoz/bin/Debug/net8.0/ATRoz.dll
/.gitignore
/.gitignore
/.gitignore
