.vs/
/.vs/ATRoz/v17/.wsuo
/.vs/ATRoz/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ATRoz/obj/Debug/net8.0/ATRoz.AssemblyInfo.cs
/ATRoz/obj/Debug/net8.0/ATRoz.AssemblyInfoInputs.cache
/ATRoz/obj/Debug/net8.0/ATRoz.sourcelink.json

/ATRoz/obj/Debug/net8.0/ATRoz.assets.cache
/ATRoz/obj/Release/net8.0/ATRoz.AssemblyInfo.cs
/ATRoz/obj/Release/net8.0/ATRoz.assets.cache
/ATRoz/obj/Debug/net8.0/ATRoz.GeneratedMSBuildEditorConfig.editorconfig
/ATRoz/obj/Release/net8.0/ATRoz.GeneratedMSBuildEditorConfig.editorconfig
/ATRoz/obj/Release/net8.0/ATRoz.AssemblyInfoInputs.cache
/ATRoz/obj/Release/net8.0/ATRoz.csproj.AssemblyReference.cache
/ATRoz/obj/Debug/net8.0/ATRoz.csproj.AssemblyReference.cache
/ATRoz/bin/Debug/net8.0/ATRoz.dll
/ATRoz/bin/Debug/net8.0/ATRoz.pdb
/ATRoz/obj/Debug/net8.0/ref/ATRoz.dll
/ATRoz/obj/Debug/net8.0/refint/ATRoz.dll
/ATRoz/obj/Debug/net8.0/ATRoz.csproj.CoreCompileInputs.cache
/ATRoz/obj/Debug/net8.0/ATRoz.dll
/ATRoz/obj/Debug/net8.0/ATRoz.genruntimeconfig.cache
/ATRoz/obj/Debug/net8.0/ATRoz.pdb
/ATRoz/obj/ATRoz.csproj.nuget.dgspec.json
/ATRoz/obj/ATRoz.csproj.nuget.g.props
/ATRoz/obj/project.assets.json
/ATRoz/obj/project.nuget.cache
