.vs/
/.vs/ATRoz/v17/.wsuo
/.vs/ATRoz/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ATRoz/obj/Debug/net8.0/ATRoz.AssemblyInfo.cs
/ATRoz/obj/Debug/net8.0/ATRoz.AssemblyInfoInputs.cache
/ATRoz/obj/Debug/net8.0/ATRoz.sourcelink.json

/ATRoz/obj/Debug/net8.0/ATRoz.assets.cache
/ATRoz/obj/Release/net8.0/ATRoz.AssemblyInfo.cs
/ATRoz/obj/Release/net8.0/ATRoz.assets.cache
/ATRoz/obj/Debug/net8.0/ATRoz.GeneratedMSBuildEditorConfig.editorconfig
/ATRoz/obj/Release/net8.0/ATRoz.GeneratedMSBuildEditorConfig.editorconfig
/ATRoz/obj/Release/net8.0/ATRoz.AssemblyInfoInputs.cache
/ATRoz/obj/Release/net8.0/ATRoz.csproj.AssemblyReference.cache
/ATRoz/obj/Debug/net8.0/ATRoz.csproj.AssemblyReference.cache
